.racer_table td {
  height: 50px;
  width: 50px;
}

.racer_table td.active {
  background-color: black;
}

#player1_strip td.active {
	background: url(tesla.png) no-repeat;
	background-size: contain;
}

#player2_strip td.active{

	background: url(ford.png) center no-repeat;
	background-size: contain;
}

h1 {
	font-family: 'Carter One', cursive;
}

h2 {
	color: yellow;
}

.obstacle{
	background-color: black;
}

html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



