.racer_table td {
  height: 50px;
  width: 50px;
}

.racer_table td.active {
  background-color: black;
}

#player1_strip td.active {
	background: url(tesla.png) no-repeat;
	/*background-size: 100% 50px;*/
	background-size: contain;
}

#player2_strip td.active{

	background: url(ford.png) center no-repeat;
	/*background-size: 100% 50px;*/
	background-size: contain;
}

h1 {
	font-family: 'Carter One', cursive;
}

h2 {
	color: yellow;
}

/*
div#wrapperHeader {
 width:35%;
 height: 50px; 
 background:url(teslaVsFord.png) repeat-x 0 0;
 text-align:center;
}

div#wrapperHeader div#header {
 width:200px;
 height:100px;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width: 200px; 
 height: 100px; 
 margin:0 auto;
}

*/

html { 
  background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



